*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gamecontainer{
    height: 100vh;
    width: 100%;
    background-image: url(images/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    transform: rotateY(180deg);
    overflow: hidden;
    border-bottom: 8px solid rgb(105, 128, 105);
}
.enter{

    transform: rotateY(180deg);
    margin: 5px auto;
    color: rgb(252, 150, 33);
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 3px 2px  rgb(235, 255, 144) ,2px 4px 2px  rgb(15, 139, 255);
}
#welcome{
    transform: rotateY(180deg);
    margin-top: 5%;
    color: rgb(252, 150, 33);
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 3px 2px  rgb(235, 255, 144) ,2px 4px 2px  rgb(15, 139, 255);
}
#created{
    transform: rotateY(180deg);
    color: rgb(167, 90, 1);
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px  rgb(152, 184, 9) ;

}
.score{
    transform: rotateY(180deg);
    display: inline-block;
    /* float: right; */
    position: absolute;
    top: 10%;
    right: 2%;
    letter-spacing: 1.8px;
    font-family: cursive;
    text-shadow: 2px 3px 2px  rgb(235, 255, 144) ,2px 4px 2px  rgb(15, 139, 255);
    
}
.h1 ,.score > h1{
    font-size: 40px;
    font-weight: 700;
    font-family: cursive;
    color: #ffffff;

}
.gameover{
    height: 200px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
}
#play{
    text-decoration: none;
    color: green;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 14px;
    margin-top: 8px;
    text-transform: capitalize;
    border: 1px solid rgb(130, 201, 23);
    border-radius: 8px;
    transition: ease-out 0.4s;
    background: rgba(252, 252, 252, 0.61);
    
}


#play:hover{
    background: greenyellow;
}
.dino{
    height: 100px;
    width: 150px;
    background-image: url(images/dino.gif);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 150px;
    z-index: 999;
    /* border-bottom: 8px solid green;
    border-radius: 10px; */
}
.dbg{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 71, 10, 0.295);
}
.obstacle{
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 700px;
    height: 100px;
    width: 60px;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-image: url(images/stone.png);
    background-blend-mode:hard-light;
    background-size: contain;
    background-repeat: no-repeat;
    transition: linear 0.4s;

}
.animateDino{
    animation: dino 0.6s linear;
}
.obstacleAnimation{
    animation: obstacleAnimation 4s linear infinite;
}
@keyframes dino{
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 300px;

    }
    
    100%{
        bottom: 0px;
    }

}

@keyframes obstacleAnimation{
    0%{
        right:100vw;
    }
    100%{
        right: -5vw;
    }
}

/* responsive media query for mobile devices */
@media screen and (max-width: 800)
{
    #welcome{
        font-size: 30px;
    }
    .enter{
        font-size: 17px;
    }
    #created{
        font-size: 15px;
    }
    .h1 ,.score > h1{
        font-size: 12px;
    }
    .gameover{
        font-size: 30px;
    }
    #play{
        font-size: 12px;
    }
}