body{
  height: 100vh;
  width: 100%;
  min-width: 435px;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(20deg, #f59414 ,#55b6f7 60%) no-repeat;
  
}

.heading{
  text-align: center;
  font-family: cursive;
  color: rgb(255, 255, 255);
}
.container{
  position: relative;
  background: transparent;
  width:80%;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 20%);
  
}

#container{
  width: 100%;
}

.inner-container{
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  
  }

#container:nth-child(1){
  padding-top: 25px;
}

#typing-area{
  height: 40px;
  width: 50%;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
  outline: none;
  color:#000000;
  background-color: transparent;
  border: 1px inset;
  border-radius: 30px;

}

.typed{
  font-size: 20px;
  font-family:  sans-serif;
  font-weight: bold;
  color:#000000;
}

#score{
  margin: 10px auto;
  padding: 8px;
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  color: #000000;
  
}


.score-container{
  margin: 50px auto;
  height: 240px;
  width: 240px;
  background-color: transparent;
  border-color:  rgba(255, 255, 255,0.8);
  border-width: 5px;
  border-style: dotted;
  border-radius: 130%;
}

.text-1{
  font-size: 26px;
  font-family:  sans-serif;
  font-weight: bold;
  display: inline;
}

.typing-menu{
  height: 50%;
  background-color:rgba(52, 15, 110);
}

.score-menu{
  height: 50%;   
  background-color:rgba(52, 15, 110,0.9);
}

#correct{
  font-size: 25px;
  font-weight: 600;
  color: green;
  margin-left: 100px;
}
#wrong{
  font-size: 25px;
  font-weight: 600;
  color: red;
  margin-left: 108px;
}

#tTyped{
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin-left: 114px;
}

#cWord{
  padding: 2px;
  background-color: skyblue;
  border-style: none;
  border-radius: 3px;
}

.speed{
  margin-top: 15px;
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  color: #000000;
}

#wpm{
  height: 150px;
  width: 150px;
  margin: auto;
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: transparent;
  border-style: groove;
  border-radius: 10px;
  color:white;
  
}

#wp{
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 18px;
  color:white;
  text-align: center;
  margin-top: -40px;
}

#and{
  margin: 30px auto;
  text-align:center;
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  
}

#acc{
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}

#accuracy{
  width: 100px;
  margin: auto;
  padding: 8px 15px;
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  background-color: red;

}

#result{
  width: 100%;
  margin: auto;
  padding: 10px;
}

.code{
  position: absolute;
  top: 500px;
  left: 250px;
  font-family:  sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255,0.6);
  
}
#start_btn{
  width: 100px;
  padding: 8px 12px;
  margin: 20px auto;
  display: block;
  border: 1px solid green;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  background-color: green;
}
#start_btn:hover{
  background-color: transparent;
  color: green;
}
